In [1]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as mn
import os
import yellowbrick 
import matplotlib
import pydotplus


from pandas.plotting import scatter_matrix

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB():
    cur.close()
    conn.close()

In [3]:
# connect to "Dataset" DB 
conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"featureSTG\" ", con=conn)
pd.set_option('display.max_column',50)
df.head()

,level_0,index,id_student,code_module,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,qtr_sum_clicks,half_sum_clicks,threeqtr_sum_clicks,qtr_half_sum_clicks,half_threeqtr_sum_clicks,thrd_sum_clicks,twothrd_sum_clicks,thrd_twothrd_sum_clicks,allclicks,std_half_score
0,0,0,3733,3.0,1,261,0,0,0,0,-68.0,0,0,2,3,3,9.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,6516,0.0,0,269,0,1,0,1,-52.0,0,0,2,0,3,8.0,60,256.0,862.0,1347.0,2066.0,513.0,719.0,1040.0,1875.0,307.0,2791.0,56.400000
2,2,2,8462,3.0,1,261,0,0,0,0,-137.0,0,0,2,2,3,3.0,90,81.0,446.0,565.0,565.0,119.0,0.0,525.0,565.0,40.0,646.0,58.166667
3,3,3,8462,3.0,1,262,0,1,1,0,-38.0,0,0,2,2,3,3.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,11391,0.0,0,268,0,0,0,1,-159.0,0,0,2,1,3,9.0,240,98.0,447.0,612.0,650.0,165.0,38.0,489.0,615.0,123.0,934.0,81.600000

Creating Dummy Variable Columns

In [7]:
#pandas Get Dummies Function
dummies = pd.get_dummies(df.region)
dummies

       0   1   2   3   4   5   6   7   8   9   10  11  12
0       0   0   0   1   0   0   0   0   0   0   0   0   0
1       1   0   0   0   0   0   0   0   0   0   0   0   0
2       0   0   1   0   0   0   0   0   0   0   0   0   0
3       0   0   1   0   0   0   0   0   0   0   0   0   0
4       0   1   0   0   0   0   0   0   0   0   0   0   0
5       0   1   0   0   0   0   0   0   0   0   0   0   0
6       0   1   0   0   0   0   0   0   0   0   0   0   0
7       0   1   0   0   0   0   0   0   0   0   0   0   0
8       0   0   0   0   0   0   0   0   0   1   0   0   0
9       0   0   0   0   0   0   0   0   0   0   1   0   0
10      0   1   0   0   0   0   0   0   0   0   0   0   0
11      0   1   0   0   0   0   0   0   0   0   0   0   0
12      0   0   0   0   0   0   0   1   0   0   0   0   0
13      0   0   0   1   0   0   0   0   0   0   0   0   0
14      0   1   0   0   0   0   0   0   0   0   0   0   0
15      0   0   0   0   1   0   0   0   0   0   0   0   0
16      1   0   0   0   0   0   0   0   0   0   0   0   0
17      0   0   1   0   0   0   0   0   0   0   0   0   0
18      1   0   0   0   0   0   0   0   0   0   0   0   0
19      1   0   0   0   0   0   0   0   0   0   0   0   0
20      0   0   1   0   0   0   0   0   0   0   0   0   0
21      0   0   0   0   1   0   0   0   0   0   0   0   0
22      0   1   0   0   0   0   0   0   0   0   0   0   0
23      0   0   1   0   0   0   0   0   0   0   0   0   0
24      0   0   0   0   0   0   0   0   1   0   0   0   0
25      0   0   0   0   0   0   0   0   0   0   1   0   0
26      0   1   0   0   0   0   0   0   0   0   0   0   0
27      0   0   0   0   0   1   0   0   0   0   0   0   0
28      0   0   0   0   0   0   1   0   0   0   0   0   0
29      0   0   0   0   0   0   0   0   0   1   0   0   0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
32563   0   0   0   0   0   0   0   1   0   0   0   0   0
32564   0   0   0   1   0   0   0   0   0   0   0   0   0
32565   0   0   0   0   0   0   0   0   0   0   0   0   1
32566   0   1   0   0   0   0   0   0   0   0   0   0   0
32567   0   0   0   0   0   0   0   1   0   0   0   0   0
32568   0   0   0   0   0   0   0   1   0   0   0   0   0
32569   0   0   0   1   0   0   0   0   0   0   0   0   0
32570   0   0   1   0   0   0   0   0   0   0   0   0   0
32571   1   0   0   0   0   0   0   0   0   0   0   0   0
32572   0   0   0   0   0   0   0   0   0   0   1   0   0
32573   0   0   0   0   0   0   0   1   0   0   0   0   0
32574   0   1   0   0   0   0   0   0   0   0   0   0   0
32575   0   0   0   0   0   0   0   0   1   0   0   0   0
32576   0   1   0   0   0   0   0   0   0   0   0   0   0
32577   0   1   0   0   0   0   0   0   0   0   0   0   0
32578   0   1   0   0   0   0   0   0   0   0   0   0   0
32579   0   1   0   0   0   0   0   0   0   0   0   0   0
32580   0   0   0   0   0   0   0   0   0   0   0   1   0
32581   0   0   0   0   0   0   1   0   0   0   0   0   0
32582   0   0   0   0   0   0   0   1   0   0   0   0   0
32583   0   0   0   0   0   0   0   0   0   1   0   0   0
32584   0   0   0   0   0   0   0   0   0   1   0   0   0
32585   0   0   0   0   0   0   0   0   0   1   0   0   0
32586   0   0   0   0   0   0   0   0   0   0   1   0   0
32587   0   0   0   0   0   0   0   0   0   1   0   0   0
32588   0   0   1   0   0   0   0   0   0   0   0   0   0
32589   0   0   0   0   0   0   0   1   0   0   0   0   0
32590   0   0   0   0   1   0   0   0   0   0   0   0   0
32591   0   0   0   0   1   0   0   0   0   0   0   0   0
32592   0   0   1   0   0   0   0   0   0   0   0   0   0

[32593 rows x 13 columns]

Merging to Main Dataframe

In [25]:
mergedDF = pd.concat([dummies,df], axis = 'columns')

In [21]:
mergedDF.head()

,level_0,index,id_student,code_module,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,qtr_sum_clicks,half_sum_clicks,threeqtr_sum_clicks,qtr_half_sum_clicks,half_threeqtr_sum_clicks,thrd_sum_clicks,twothrd_sum_clicks,thrd_twothrd_sum_clicks,allclicks,std_half_score,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,0,3733,3.0,1,261,0,0,0,0,-68.0,0,0,2,3,3,9.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0
1,1,1,6516,0.0,0,269,0,1,0,1,-52.0,0,0,2,0,3,8.0,60,256.0,862.0,1347.0,2066.0,513.0,719.0,1040.0,1875.0,307.0,2791.0,56.400000,1,0,0,0,0,0,0,0,0,0,0,0,0
2,2,2,8462,3.0,1,261,0,0,0,0,-137.0,0,0,2,2,3,3.0,90,81.0,446.0,565.0,565.0,119.0,0.0,525.0,565.0,40.0,646.0,58.166667,0,0,1,0,0,0,0,0,0,0,0,0,0
3,3,3,8462,3.0,1,262,0,1,1,0,-38.0,0,0,2,2,3,3.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0
4,4,4,11391,0.0,0,268,0,0,0,1,-159.0,0,0,2,1,3,9.0,240,98.0,447.0,612.0,650.0,165.0,38.0,489.0,615.0,123.0,934.0,81.600000,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Dummy Variable Trap? Multicollinearity?

In [33]:
#final = mergedDF.drop(['region','0'], axis= 'columns')

In [65]:
#X values
X = df[['region', 'imd_band']].values
X

array([[3., 9.],
       [0., 8.],
       [2., 3.],
       ...,
       [4., 0.],
       [4., 0.],
       [2., 5.]])

In [ ]:
#Y values

In [43]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features =[0])

In [66]:
ohe.fit_transform(X).toarray()

//anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [67]:
df.dropna(subset = ['imd_band'],how = 'all').shape

(31482, 29)