# Data Wrangling

Clean and encode data to prepare for machine learning

In [1]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
import matplotlib.pyplot as plt

Connect to database before data wrangling

In [2]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB(conn):
    
    conn.close()

In [3]:
# connect to "Dataset" DB 
conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"studentAssessmentFULLHLF3STG\" ", con=conn).reset_index()

#make sure that all columns are displayed in our dataframe
pd.set_option('display.max_column',50)

#check dataframe
df.head(100)

,index,id_assessment,id_student,date_submitted,is_banked,scoretxt,score,code_module,code_presentation,assessment_type,final_sub_date,weight,hlf_module_length,hlf_weight,final_result,date_unregistration
0,0,1759,6516,51,0,48,48.0,AAA,2014J,TMA,54.0,20.0,134,50.0,Pass,NaN
1,1,1760,6516,116,0,63,63.0,AAA,2014J,TMA,117.0,20.0,134,50.0,Pass,NaN
2,2,1758,6516,17,0,60,60.0,AAA,2014J,TMA,19.0,10.0,134,50.0,Pass,NaN
3,3,1761,6516,164,0,61,61.0,AAA,2014J,TMA,166.0,20.0,134,50.0,Pass,NaN
4,4,1762,6516,210,0,77,77.0,AAA,2014J,TMA,215.0,30.0,134,50.0,Pass,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,14992,27891,95,0,60,60.0,BBB,2013B,CMA,89.0,1.0,120,43.0,Withdrawn,153.0
96,96,14984,27891,18,0,73,73.0,BBB,2013B,TMA,19.0,5.0,120,43.0,Withdrawn,153.0
97,97,15009,27891,-1,1,67,67.0,BBB,2014B,TMA,40.0,18.0,117,62.0,Fail,NaN
98,98,15010,27891,-1,1,55,55.0,BBB,2014B,TMA,82.0,18.0,117,62.0,Fail,NaN
99,99,15008,27891,-1,1,73,73.0,BBB,2014B,TMA,12.0,5.0,117,62.0,Fail,NaN

In [4]:
studentDf = df.copy()
studentDf['stdn_half_weight_score'] = 0
studentDf['score'] =  studentDf['score'].fillna(0)
reenrolled_ind = []

In [5]:
studentDf['score'].isnull().sum()

0

In [6]:
# Assign positive int to date_submitted if assessment scores transferred. 
studentDf.loc[studentDf['is_banked'] ==1, 'date_submitted'] = 1

# Assessments score percentage
studentDf['assmt_half_weight_score'] = studentDf['score']*studentDf['weight']/100

In [7]:
# sum the student assessment scores by student id, class, term
# groupby as_index = False to keep column
studentScoreDf = studentDf.loc[studentDf['final_sub_date'] < studentDf['hlf_module_length'] ].groupby(['id_student','code_module','code_presentation','hlf_weight'], as_index = False)['assmt_half_weight_score'].sum()

In [8]:
# Get half term of student assessment scores 
studentScoreDf['stdn_half_module_weight_score'] = studentScoreDf['assmt_half_weight_score']/studentScoreDf['hlf_weight']

#display all data
studentScoreDf

,id_student,code_module,code_presentation,hlf_weight,assmt_half_weight_score,stdn_half_module_weight_score
0,6516,AAA,2014J,50.0,28.20,0.564000
1,8462,DDD,2013J,60.0,34.90,0.581667
2,8462,DDD,2014J,50.0,43.00,0.860000
3,11391,AAA,2013J,50.0,40.80,0.816000
4,23629,BBB,2013B,43.0,16.69,0.388140
...,...,...,...,...,...,...
25793,2698257,AAA,2013J,50.0,33.80,0.676000
25794,2698535,CCC,2014B,40.0,8.33,0.208250
25795,2698535,EEE,2013J,72.0,43.36,0.602222
25796,2698577,BBB,2014J,30.0,16.60,0.553333
25797,2698588,BBB,2014J,30.0,25.90,0.863333

In [9]:
# write dataframe to database
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Georgetown16@database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com:5432/Dataset')
studentScoreDf.to_sql('studentAssessmentHalfScore', engine, if_exists='replace')

In [ ]:
disconnectDB(conn)